
body{
	background-image: url('https://files.123freevectors.com/wp-content/original/130978-blue-and-white-polygon-background-template-graphic.jpg');
	font-family: 'Open Sans Condensed', arial, sans;
	width: 750px;
	padding: 20px;
	margin: 40px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

legend{
	
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #8080fe;
	font-size: 18px;
	font-weight: bold;
	padding: 9px;
	margin: -30px -30px 30px -30px;
}

th {
  color: #8080fe;
}

td{
	
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 9px;
	margin: -30px -30px 30px -30px;
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
 textarea{
	resize:none;
	overflow: hidden;
}
input[type="button"], 
input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
input[type="button"]:hover, 
input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


.myButtonBlue {
	background-color:#7892c2;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:6px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButtonBlue:hover {
	background-color:#476e9e;
}
.myButtonBlue:active {
	position:relative;
	top:1px;
}

.myButtonRed {
	background-color:#ff8080;
	border-radius:28px;
	border:1px solid #bf1b0f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:6px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fa0830;
}
.myButtonRed:hover {
	background-color:#ff0a0a;
}
.myButtonRed:active {
	position:relative;
	top:1px;
}

div {
  opacity: 0.5;
}
